

*{
    outline:none;
}
form{
    display: flex;
    flex-direction: column;
    background-color: rgb(30, 30, 30);
    gap:10px;
    padding:20px;
    border-radius:10px;
    width:300px;
}

form input{
    padding:5px;
}

form .gender{
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
form .gender label{
    color:white;
    margin:5px;
}
form button{
    cursor:pointer;
}