*{
    box-sizing: border-box;
    font-family: monospace;
    margin:0px;
    padding:0px;
}
body{
    background-color: tomato;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo{
    color:white;
    position:fixed;
    top:5px;
    left:5px;
    text-decoration: none;
}